<div class="container py-3">
  <div class="row">
    <div class="col-md-8">
       <% if @purchase.product.photo.attached? %>
        <%= cl_image_tag @purchase.product.photo.key, class: 'card-img-top' %>
      <% else %>
        <%= image_tag 'product-sample.png', class: 'card-img-top' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2><%= @purchase.product.name %></h2>
      <p id="price"><strong></strong>R$ <%= @purchase.product.price %></p>
      <h5><strong>Description:</strong></h5>
      <p id="details"><strong></strong><%= @purchase.product.details %></p>
    </div>
  </div>
</div>
