<div class="container">

  <div class="card-title">
  <h2 class="p-3" style="font-family: 'Bentham', serif; font-size: 34px; color: #474747;">Meus Produtos a Venda</h2>
</div>


  <table class="table">
    <thead>
      <tr style="font-family: 'Playfair Display', serif;">
        <th>Nome do Produto</th>
        <th>Preço</th>
        <th>Categoria</th>
        <th>Editar</th>
        <th>Deletar</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td>R$ <%= product.price.to_i %></td>
          <td><%= product.category %></td>
          <td><%= link_to "", edit_product_path(product), class: "far fa-edit"%></td>
          <td><%= link_to "",
                      product_path(product),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "far fa-trash-alt" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 </div>



