<div class="container py-3">
  <div class="row"  >
    <div class="col-md-8">
       <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class: 'photo' %>
      <% else %>
        <%= image_tag 'product-sample.png', class: 'photo' %>
      <% end %>
    </div>
    <div class="col-md-4" id="card" style="background-color: white ">
      <h1><%= @product.name %></h1>
      <p id="price"><strong></strong>R$ <%= @product.price.to_i %>,00</p>
      <h5><strong>Description:</strong></h5>
      <p id="details"><strong></strong><%= @product.details %></p>

      <% if @product.user == current_user %>
      <p><strong>This is your product! </strong></p>
      <%= link_to "Edit product", edit_product_path(@product), class: "btn btn-warning" %>
      <%= link_to "Delete product",
                  product_path(@product),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-danger" %>
      <% else %>  <%= link_to "PURCHASE", product_purchases_path(@product), method: :post, class: "btn btn-primary w-100", style: "bottom: 0"; %>
      <% end %>

    </div>
  </div>
</div>
