<div class="container py-3">
  <div class="row">
    <div class="col-md-8">
       <% if @product.photo.attached? %>
        <%= cl_image_tag @product.photo.key, class: 'card-img-top' %>
      <% else %>
        <%= image_tag 'product-sample.png', class: 'card-img-top' %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2><%= @product.name %></h2>
      <p id="price"><strong></strong>R$ <%= @product.price %></p>
      <h5><strong>Description:</strong></h5>
      <p id="details"><strong></strong><%= @product.details %></p>

      <% if @product.user == current_user %>
      <p><strong>This is your product. What do you want to do?</strong></p>
      <%= link_to "Edit product", edit_product_path(@product), class: "btn btn-warning" %>
      <%= link_to "Delete product",
                  product_path(@product),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-danger" %>
      <% else %>  <%= link_to "PURCHASE", product_purchases_path(@product), method: :post, class: "btn btn-success w-100" %>
      <% end %>

    </div>
  </div>
</div>
