<!DOCTYPE html>
<html>
  <head>
    <title>Project1App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-color: #FBEEE9"; >
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="wrapper" style="margin-top: 62px">
      <%= yield %>
      <div class="push"></div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
